*{
    /* outline: 2px solid red; */
}

body{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

h1{
    text-align: center;
    background-color: red;
}

.elements-container {
    /* border:1px solid black; */
    width: fit-content;
    margin: 0 auto; 
    padding: 10px;
}
/* .elements-container ul li .reciple button {
    width: 100px;
} */

.recipe {
    margin: 10px;
}

button {
    font-size: 20px;
    font-weight: bold;
    background-color:lightgreen;
    width: 400px;
    height: 100px;
}